@import url(https://fonts.googleapis.com/css?family=Momo+Trust+Display:regular);
@import url(https://fonts.googleapis.com/css?family=Cherry+Bomb+One:regular);
/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
  letter-spacing: inherit;
  color: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
:root{
    --spacing : 1.5rem;
    --text-font-family : 'Momo Trust Display';
    --header-font-family : 'Cherry Bomb One';

    --almond-cream: hsl(29, 41%, 92%);
    --pale-oak: #e6ccb2ff;
    --tan: #ddb892ff;
    --faded-copper: #b08968ff;
    --coffee-bean: #7f5539ff;
    --toffee-brown: #9c6644ff;
    --text-color: hsl(0, 0%, 10%);

}

ul{
    padding: 0;
    margin: 0;
    list-style: none;;
}

button{
    border-style: none;
    outline: none;
    border-radius: var(--spacing);
    cursor: pointer;
}

body{
    height: 100vh;
    font-family: var(--text-font-family);
    color: var(--text-color);
    letter-spacing: 0.08rem;

    display: grid;
    grid-template-rows: 1fr 10fr 1fr;
    grid-template-areas: 
    "header"
    "main"
    "footer";
}

.wrapper{ 
    width:calc(1600px - (var(--spacing) * 2));
    padding: 0 var(--spacing);
    margin: 0 auto;
}

/* header */
header{
    grid-area: header;

    background-color: var(--faded-copper);

}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--spacing);
}

#header-title{
    font: 2rem var(--header-font-family);
}

nav button{
    background-color: transparent;
    font-size: 1.25rem;
    padding: calc(var(--spacing) - 1rem) var(--spacing);
    transition: background-color 0.3s;
}

nav button:hover:not(#header-title){
    background-color: hsl(0 0 100 / 0.1);
}

nav ul{
    display: flex;
    gap: var(--spacing);
}


/* header */

/* main content */
/* homepage */
#home #main-content{
    grid-area: main;

    display: grid;
    align-items: center;

    background-image: url(../assets/imgs/header-background.svg);
    background-size: contain;
    opacity: 0.9;
}

#home #main-content .wrapper{
    display: grid;
    justify-items: center;
    justify-content: center;
    grid-template-areas:
    "title"
    "buttons";

    gap: var(--spacing);
}

#hero-title{
    grid-area: title;
    font-size: 5rem;
    letter-spacing: inherit;
    text-align: center;
    color: var(--almond-cream);
}

#hero-btns{
    grid-area: buttons;
    display: flex;
    gap: var(--spacing);
}

#hero-btns button{
    width: 200px;
    height: 50px;
    border-radius: var(--spacing);
    border: 1px solid var(--coffee-bean);
    background-color: var(--pale-oak);

    transition: background-color 0.3s, color 0.3s;
}

#hero-btns button:hover{
    background-color: transparent;
    color: var(--almond-cream);
}
/* homepage */
/* menu page */
#menu #main-content{
  background-color: var(--almond-cream);
}

#menu #main-content .wrapper{
  padding-top: var(--spacing);
}

#beverages,
#desserts{
  display: grid;
  align-items: center;
  gap: 3rem;
  grid-template-columns: repeat(3, 500px);
}

#beverages-title,
#desserts-title{
  position: relative;
  font-size: 4rem;
}


#desserts-title{
  margin: 3rem;
  order: 1;
}

#beverages-title::after{
  margin-left:  3px;
  content: "→";
  background-color: var(--toffee-brown);
  color: var(--pale-oak);
}

#desserts-title::before{
  margin-right:  3px;
  content: "←";
  background-color: var(--toffee-brown);
  color: var(--pale-oak);
}

.card img{
  max-width: 200px;
  max-height: 200px;
}

#card-container{
  display: grid;
  grid-template-rows: 1fr max-content 1fr;
  gap: 1rem;
}

hr{
  border-color: var(--coffee-bean);
}

#desserts .card{
  order: -1;
}

.card{
  display: grid;
  justify-items: center;

  padding: 1rem;
  gap: 1.75rem;

  background-color: var(--almond-cream);
  border-radius: var(--spacing);
  border: 3px solid var(--faded-copper);
}

#desserts .card{
  gap: 2.75rem;
}

.card-title{
  font-size: 1.75rem;
}

.card-price{
  color: hsl(120, 100%, 35%);
  font-size: 1.4rem;
}
/* menu page */
/* contact page */

#contact #main-content .wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  padding: var(--spacing);
  gap: var(--spacing);
}

#left-grid-column{
  width: 600px;
  height: 600px;
  display: grid;

  padding: var(--spacing);
  gap: var(--spacing);
  border-radius: var(--spacing);

  background-color: var(--pale-oak);
}
#info{
  display: grid;
  grid-auto-rows: max-content;
  gap: 3rem;
}

#location,
#phone-number{
  display: flex;
  align-items: center;
  gap: var(--spacing);
}

#location::before,
#phone-number::before{
  content: "";
  width: 2rem;
  height: 2rem;
  margin-bottom: 1px;
  background-image: url(../assets/imgs/map-marker-outline.svg);
}

#phone-number::before{
  background-image: url(../assets/imgs/phone-outline.svg);
}

#opening-hours{
  display: grid;
  grid-auto-rows: max-content;
  gap: 2rem;
}

p{
  display: flex;
  justify-content: space-between;
}

#right-grid-column{
  width: 600px;
  height: 600px;
  display: grid;

  padding: var(--spacing);
  gap: var(--spacing);
  border-radius: var(--spacing);

  background-color: var(--pale-oak);
}

form{
  display: grid;
  grid-template-rows: repeat(2, max-content) 1fr;
  grid-template-areas:
  "name name"
  "email phone"
  "button button";
  
  gap: calc(var(--spacing) + 1rem);
}
label{
  display: block;
  margin-left: 3px;
}

form > div:has(input[type="text"]){
  grid-area: name;
}

form > div:has(input[type="email"]){
  grid-area: email;
}

form > div:has(input[type="tel"]){
  grid-area: phone;
}

input{
  width: 100%;
  height: 3rem;
  border-radius: 8px;
  border-style: none;
  outline: none;
  padding: 3px var(--spacing);
}

form > button{
  grid-area: button;
  align-self: self-end;
  height: 3rem;
}

/* contact page */
/* main content */
/* footer */
footer{
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--faded-copper);
}
/* footer */